<%-include('header')-%>

    <h1>who is Hasibullah Aman</h1>
    <h2>Hasibullah Aman</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, sed. Optio reiciendis deserunt ipsam, totam repudiandae mollitia? Eius, veniam soluta consequuntur distinctio minima rerum dicta cupiditate ipsum iure minus quos!</p>
    <%-include('footer')-%>